*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JSF31_w05_Tim/JSF31KochFractalFX - startup/dist/
JSF31_w05_Tim/.idea/
JSF31_w05_Tim/JSF31KochFractalFX - startup/.idea/
*.properties
/JSF3_w07_StartProject/MovingBallsFX/MovingBallsFX2.0/nbproject/private/
/JSF3_w07_StartProject/MovingBallsFX/MovingBallsFX2.0/build/
JSF3_w07_StartProject/MovingBallsFX/.idea/
*.iml
MovingBallsFX2.0/.idea/
/WriteKochFractal-W12/nbproject/private/